name: Install & Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        operating-system: [ 'ubuntu-latest' ]
        php-versions: ['8.2','8.3','8.4','8.5']
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Github Token
        run: composer config -g github-oauth.github.com ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer install

      - name: Run tests on PHP container
        run: XDEBUG_MODE=coverage php vendor/bin/codecept run --coverage --coverage-xml

      - name: Upload Code coverage
        uses: codecov/codecov-action@v5.5.2
        if: always()
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: codecov-umbrella # optional


